<!DOCTYPE html>
<html lang="es-co">
<head>
<title>FMB</title>
<meta charset="utf-8" />
<link href="/fmb/_pagefind/pagefind-ui.css" rel="stylesheet">
<link href="/fmb/assets/css/bootstrap.min.css" rel="stylesheet">
<script src="/fmb/_pagefind/pagefind-ui.js" type="text/javascript"></script>
<script src="/fmb/assets/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</head>
<body>

<div class="container">

    <div id="search"></div>

</div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ 
            element: "#search",
            translations: {
                placeholder: "Buscar",
                zero_results: "No puede encontrar [SEARCH_TERM]"
            }
        });
    });
</script>
</body>
</html>