---
eleventyNavigation:
  key: Inicio
  order: 0
---
<!DOCTYPE html>
<html lang="es-co">
<head>
<title>FMB</title>
<meta charset="utf-8" />
</head>
<body>

<h1>HI!</h1>
{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
</body>
</html>